[for="email"] {
  display: block;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 10px;
}
[for="password"] {
  display: block;
  margin-left: 60px;
  margin-top: 10px;
}
input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px;
}
[for="email"] input {
  margin-left: 30px;
  background-image: linear-gradient(62deg, #b5b5b5 10%, #ffffff 60%);
}
[for="password"] input {
  margin-left: 7px;
  background-image: linear-gradient(62deg, #ffffff 10%, #b5b5b5 60%);
}
.login {
  height: 170px;
  width: 400px;
  margin: 0 auto;
  backdrop-filter: grayscale(0.2);
  border: 2px solid grey;
  border-radius: 20px;
}
body {
  background-image: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 100%);
}
.login span {
  padding: 10px;
  margin-left: 140px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
.button {
  display: block;
  margin: 10px auto;
  width: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
button:hover {
  background-color: #15a9ffba;
}
.fa-user i {
  margin-right: 10px;
  font-size: 20px;
}
.noti {
  /* margin: 5rem; */
  font-size: 5rem;
  color: #fff;
  position: relative;
}
.mes-number {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: violet;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: 55px;
}
.mes-button i {
  color: #fff;
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.nav {
  background: #555;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.nav li {
  display: inline-block;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.sub-nav {
  height: 100px;
}
